<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="maxFileSize" value="1GB" />
		<param name="maxBackupIndex" value="10" />
		<param name="File" value="/tmp/cde.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>
	
	<appender name="httpFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="file" value="/tmp/cde-http.log" />
		<param name="maxFileSize" value="1GB" />
		<param name="maxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>


	<category name="com.citibank.cde">
		<priority value="DEBUG" />		
	</category>

	<category name="com.citibank.latam.sgway">
		<priority value="INFO" />		
	</category>
	
	<category name="org.springframework">
		<priority value="off" />
	</category>
	
	<category name="org.apache" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="httpFileAppender"/>
	</category>
	
	<category name="httpclient.wire" additivity="false"> 
		<priority value="DEBUG" />
		<appender-ref ref="httpFileAppender"/>
	</category>	
	
	
	<root>		
		<appender-ref ref="consoleAppender" />		
		<appender-ref ref="fileAppender" />		
	</root>

</log4j:configuration>